@model PFE_EMI.Models.Display.DemandeEncadrant

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DemandeEncadrements</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="ID_Etudiant" type="hidden" value="@Model.ID_Etudiant" class="form-control" />
            </div>
        

            <div class="form-group">
                <select class="form-control" asp-for="ID_Prof">
                    @foreach (var element in @Model.nomProfs)
                    {
                        <option value="@element.ID">@element.nom @element.ID.ToUpper()</option>
                    }
                    


                </select>
            </div>

            <div class="form-group">
                <label
                       
                       asp-for="liens_complementaires" class="control-label"></label>
                <input asp-for="liens_complementaires" class="form-control" required/>
                <span asp-validation-for="liens_complementaires" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SujetPFE" class="control-label"></label>
                <input asp-for="SujetPFE" class="form-control" required />
                <span asp-validation-for="SujetPFE" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Envoyer Demande" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour à mes demandes</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
