@model PFE_EMI.Models.Display.RemarqueDisplay

@{
    ViewData["Title"] = "Index";
}

<h1>@Model.titrePFE</h1>
<h3>Remarques de votre professeur encadrant : <strong>@Model.prof</strong></h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.listeRemarques.ElementAt(0).date_remarque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.listeRemarques.ElementAt(0).remarque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.listeRemarques.ElementAt(0).liens_complementaires)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.listeRemarques) {
        <tr class="@(item.seen? "bg-light":"")">

            <td>
                @Html.DisplayFor(modelItem => item.date_remarque)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.remarque)
            </td>
            <td>
                @if (item.liens_complementaires.Length == 0)
                {
                    <strong>SANS</strong>
                }
                else
                {
                     @foreach (var lien in item.liens_complementaires.Split(","))
                {
                    <a href="@lien" target="_blank">@lien</a><br />
                }

                }
            </td>
            <td>
                <form  asp-action="changeSeenState">
                    <input type="hidden" asp-for="@Model.listeRemarques.ElementAt(0).id_remarque" value="@item.id_remarque" />
                    <input type="checkbox" onchange="this.form.submit()" checked="@item.seen" />
                </form>
            </td>
            <!--
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_remarque">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_remarque">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_remarque">Delete</a>
            </td>
    -->
        </tr>
}
    </tbody>
</table>
